
DB_URL=jdbc:postgresql://localhost:5432/servicedesk
DB_USERNAME=servicedesk
DB_PASSWORD=password
SERVER_PORT=8080
MAIL_HOST=localhost
MAIL_PORT=1025
JWT_SECRET=changeme
POSTGRES_DB=servicedesk
POSTGRES_USER=servicedesk
POSTGRES_PASSWORD=servicedesk
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin


